<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Boilerplate Express App</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
	<div class="main">
    <h1>Boilerplate Express App</h1>
    <h2>For basic apps.</h2>
		<div class="todo">
      Todo:
      <li>Add <strong>Sequelize</strong>.</li>
      <li>Add <strong>node-config</strong>.</li>
      <li>Add more <strong>comments</strong>.</li>
      <li>Add <strong>CLI</strong> generator.</li>
    </div>

    <div class="footer">
      <a href="http://baloran.fr">Arnaud Allouis</a>
    </div>
	</div>
</body>
</html>